<launch>

  <include file="$(find robot_mapping)/launch/localization.launch"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
	<rosparam file="$(find robot_mapping)/launch/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_mapping)/launch/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find robot_mapping)/launch/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_mapping)/launch/config/global_costmap_params.yaml" command="load" />

	<param    name="base_global_planner"       value="global_planner/GlobalPlanner"/>
        <rosparam file="$(find robot_mapping)/launch/config/planner_global.yaml" command="load" />

	<rosparam file="$(find robot_mapping)/launch/config/planner_teb.yaml" command="load" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
  </node>
 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

</launch>
