<launch>

<include file="$(find simulation_gazebo)/launch/world.launch"/>
<include file="$(find simulation_gazebo)/launch/robot.launch"/>
    
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>    
    
</launch>
